
@font-face {
  font-family: light;
  src: url(./assets/AeonikTRIAL-Light.otf);
}
@font-face {
  font-family: normal;
  src: url(./assets/AeonikTRIAL-Regular.otf);
}
@font-face {
  font-family: bold;
  src: url(./assets/AeonikTRIAL-Bold.otf);
}
@font-face {
  font-family: best;
  src: url(./assets/Candu.ttf);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  --pri: #fff;
  --sec: #111;
  --Tri: rgba(121, 0, 0, 0.646);
  --Tri2: rgb(255, 255, 16);
  --Tri3: rgb(250, 20, 20);

  --bg-color1: #1b262c;
  --bg-color2: #0f4c75;
  --bg-color3: #614735;
  --bg-color4: #452829;
}
body {
  color: var(--pri);
  background-color: var(--bg-color1);
  font-family: normal;
}
main {
  height: 100vh;
  width: 100vw;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav {
  background-color: rgba(0, 128, 128, 0.071);
  padding: 12px;
  margin: 0.6rem;
  border-radius: 1.1rem;
}

nav h2 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

/* ............. first section styling ............. */
section.allTasks {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  position: absolute;
}
.allTasks .allFeatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 20px 15px;
}
.elem {
  height: 260px;
  min-width: 240px;
  border: 2px solid var(--pri);
  border-radius: 0.6rem;
  overflow: hidden;
  position: relative;
  -webkit-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
.elem img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  cursor: pointer;
  -webkit-transition: all ease-in 0.2s;
  -o-transition: all ease-in 0.2s;
  transition: all ease-in 0.2s;
}
.elem:hover {
  scale: 1.03;
}
.elem:active {
  scale: 0.97;
}
.elem h2 {
  position: absolute;
  bottom: 0;
  right: 10%;
  font-family: bold;
  color: var(--pri);
  letter-spacing: 1px;
  white-space: nowrap;
}

header {
  background-color: var(--bg-color3);
  height: 45%;
  width: 98%;
  margin: 10px 10px 10px 10px;
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px;
  background-image: url("./assets/landingPageImage.webp");
  background-size: cover;
  background-position: center;
}

.header-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.header-1 h1 {
  font-size: 70px;
  font-family: bold;
}
.header-1 h2 {
  font-size: 30px;
  font-weight: 200;
}
.header-1 h4 {
  font-size: 50px;
  font-weight: 600;
}
.header-2 h2 {
  font-size: 50px;
  font-weight: 700;
}
.header-2 h4 {
  font-size: 25px;
  font-weight: 500;
}
.header-2 h3 {
  font-size: 22px;
  font-weight: 500px;
}

/* this is for section 2 where seperately all task visible  */
.separateTasks {
  height: 100%;
  width: 100%;
  display: none;
  position: absolute;
  background-color: var(--bg-color3);
  padding: 20px;
}

::-webkit-scrollbar {
  display: none;
}
.backBtn {
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 10%;
  position: absolute;
  right: 5%;
  top: 5%;
  background-color: var(--Tri3);
  color: var(--pri);
  font-size: 1rem;
  font-weight: 700;
}
.backBtn:active {
  scale: 0.95;
}

/* .......... todo fullpage styling .............. */
.todoTasks {
  height: 80%;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
}

.inputTasks {
  height: 100%;
  width: 33%;
  background-color: var(--Tri);
  border-radius: 5px;
}
.inputTasks form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
  padding: 1.2rem 0.5rem;
}
.inputTasks form #taskInput {
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  font-family: normal;
  border: none;
}
.inputTasks form #textarea {
  padding: 5px;
  height: 200px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: none;
  font-family: normal;
}
.inputTasks form button {
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  font-family: bold;
  border: none;
  outline: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(233, 132, 18);
}
.inputTasks form button:active {
  scale: 0.97;
}
.checkbox {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
  padding-left: 3px;
}
.checkbox #check {
  scale: 1.5;
}
.checkbox label {
  font-size: 17px;
  font-weight: 600;
  font-family: bold;
}
.allInputTasks {
  width: 65%;
  height: 100%;
  background-color: var(--Tri);
  border-radius: 5px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 0.8rem;
  overflow: auto;
}
.displayInputTasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 8px;
  background-color: #381a05;
  border-radius: 10px;
}
.displayInputTasks h3 {
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
}
.displayInputTasks span {
  background: #e63946;
  color: #fff;
  font-size: 7px;
  padding: 2px 6px;
  border-radius: 6px;
  font-weight: 600;
  position: absolute;
  margin-left: 5px;
}
.allInputTasks button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 11px;
  background-color: rgb(26, 134, 26);
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-family: bold;
  font-size: 14px;
  color: var(--pri);
  letter-spacing: 1px;
  cursor: pointer;
}
.allInputTasks button:active {
  scale: 0.97;
}
/* .............. daily panner css ...........*/

.daily-fullTasks h1 {
  font-size: 38px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.day-planner {
  background-color: var(--bg-color4);
  border-radius: 14px;
  padding: 32px;
  margin-top: 36px;
  height: 80%;
  width: 100%;
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 12px;
  overflow: auto;
}

.day-planner-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 49%;
  margin-bottom: 14px;
}

.day-planner-time p {
  font-size: 12px;
  font-weight: 800;
  position: absolute;
  top: 6px;
  left: 10px;
  color: rgb(176, 97, 23);
  pointer-events: none;
}

.day-planner-time input {
  width: 100%;
  padding: 18px 16px;
  padding-top: 26px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  outline: none;
  background: #cfcbcb;
}

/* ................ motivational page .................. */
.motivation-fullTasks {
  position: relative;
}
.motivation-container {
  height: 60%;
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 30px;
}
.motivation-fullTasks > h1 {
  font-size: 40px;
  font-weight: 700;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 2px;
}
.motivation-container .motivation-wrapper {
  z-index: 10;
  position: absolute;
  min-height: 420px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  background-color: #e6636e;
  border-radius: 30px;
  padding: 5px;
}

.motivation-fullTasks .backBtn {
  z-index: 999;
}

.motivation-wrapper .motivation-1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--bg-color4);
  padding: 20px;
  border-radius: 18px;
}

.motivation-1 h2 {
  font-size: 35px;
  font-weight: 600;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 2px;
  font-family: bold;
}
.motivation-2 {
  padding: 15px;
  margin-top: 20px;
  line-height: 1.2;
}
/* Quote styling */
.motivation-2 h1 {
  font-size: 28px;
  font-weight: 700;
  color: #381a05;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.motivation-3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.motivation-3 h2 {
  font-size: 20px;
  font-weight: 500;
  color: #f9f9f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
  margin-top: 15px;
  background-color: #1b262c;
  padding: 12px;
  border-radius: 10px;
  outline: none;
  border: none;
}

/* ................. Pomodoro Timer ................... */
.timer-fullTasks {
  position: relative;
}
.timer-fullTasks > h1 {
  font-size: 45px;
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 2px;
}
.pomo-timer {
  position: absolute;
  top: 48%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.pomo-timer h1 {
  font-size: 100px;
}
.pomo-timer button {
  background-color: var(--Tri2);
  padding: 15px 40px;
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin: 10px;
  border: none;
  -webkit-box-shadow: 3px 3px 0 black;
  box-shadow: 3px 3px 0 black;
  cursor: pointer;
}
.pomo-timer button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.pomo-timer button:active {
  -webkit-box-shadow: 0 0 0 black;
  box-shadow: 0 0 0 black;
  scale: 0.97;
}
.timer-fullTasks .session {
  position: absolute;
  top: 22%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background: rgb(42, 178, 42);
  color: var(--pri);
  padding: 14px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
}
/* ================== RESPONSIVE DESIGN ================== */

/* Tablets & small laptops */
@media (max-width: 1024px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: auto;
    gap: 1rem;
    text-align: center;
  }

  .header-1 h1 {
    font-size: 48px;
  }

  .header-1 h4 {
    font-size: 32px;
  }

  .header-2 h2 {
    font-size: 36px;
  }

  .allTasks .allFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 1rem;
  }

  .elem {
    width: 48%;
    height: 240px;
  }

  .todoTasks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 1rem;
  }

  .inputTasks,
  .allInputTasks {
    width: 100%;
  }

  .motivation-container {
    width: 90%;
  }

  .timer-fullTasks .session {
    font-size: 15px;
  }

  .pomo-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
  }

  .pomo-timer h1 {
    font-size: 52px;
    margin-top: 10rem;
  }
}

@media (max-width: 768px) {
  main {
    height: auto;
  }

  .allTasks .allFeatures {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .elem {
    width: 100%;
    height: 220px;
  }

  .todo-fullTasks h1,
  .daily-fullTasks h1,
  .motivation-fullTasks h1,
  .timer-fullTasks h1 {
    font-size: 2rem;
  }

  header {
    width: 95%;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .header-1 h1 {
    font-size: 36px;
  }
  .header-1 h2 {
    font-size: 22px;
  }
  .header-1 h4 {
    font-size: 28px;
  }

  .header-2 h2 {
    font-size: 32px;
  }
  .header-2 h4 {
    font-size: 18px;
  }

  .day-planner-time {
    width: 100%;
  }
  .motivation-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 28%;
    right: 5%;
  }
  .todo-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 3%;
    right: 5%;
  }
  .daily-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 4%;
    right: 4%;
  }
  .timer-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 30%;
    right: 5%;
  }

  .motivation-wrapper {
    width: 100%;
    margin-top: 15%;
  }

  .timer-fullTasks .session {
    font-size: 15px;
    margin-top: 5rem;
  }

  .pomo-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 10px;
    margin-top: 12.4rem;
  }

  .pomo-timer h1 {
    font-size: 52px;
    margin-top: 10rem;
  }
}

@media (max-width: 480px) {
  .todo-fullTasks h1,
  .daily-fullTasks h1,
  .motivation-fullTasks h1,
  .timer-fullTasks h1 {
    font-size: 25px;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .header-1 h1 {
    font-size: 28px;
  }
  .header-2 h2 {
    font-size: 26px;
  }

  .motivation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border: 3px solid white;
  }

  .motivation-2 h1 {
    font-size: 20px;
  }
  .motivation-3 h2 {
    font-size: 16px;
  }

  .motivation-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 22%;
    right: 5%;
  }
  .todo-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 3%;
    right: 5%;
  }
  .daily-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 4%;
    right: 4%;
  }
  .timer-fullTasks .backBtn {
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    top: 27%;
    right: 5%;
  }

  .session {
    margin-top: -8%;
  }
  .pomo-timer h1 {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .pomo-timer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 60%;
  }
}
